@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Example of how to override elements with tailwind styles.
  This will override the font-family of h1 elements to use the font-antiqua 
  and font-extrabold classes.

  @layer base is necessary to override the base styles of the h1 element.
*/
@layer base {
  html {
    @apply font-sans font-medium;
  }
  article * {
    @apply font-serif font-normal;
  }
    
  body {
	@apply bg-ll-sandy-200;
	@apply dark:bg-black;
   }
}
 


/* INitialer */
.redinitial::first-letter,
.initial::first-letter  {
	@apply text-9xl text-red-700 float-left inline-block leading-none p-0 -mt-4 -ml-1 mr-2  ; 
	}  

.blueinitial::first-letter  {
	@apply text-9xl text-ll-blue-900 float-left inline-block leading-none pt-0 ml-1 mr-3 -mb-5  ; 
	@apply font-antiqua;
}  	

.redletter::first-letter,         
.firstletter::first-letter  {
	@apply text-9xl text-red-700 float-left inline-block bg-ll-sandy px-4 mr-4  ; 
}  

.redletter::first-letter  {
	@apply   bg-ll-sandy-50 ; 
}      

.goldletter::first-letter  {
	@apply text-9xl text-white float-left bg-ll-gold px-5 pt-3 pb-0 mr-4  ; 
	@apply font-gotic;
}  

.blueletter::first-letter  {
	@apply text-9xl text-white float-left bg-ll-blue-900 px-5 pt-3 pb-0 mr-4  ; 
	@apply font-antiqua;
}

.goticletter::first-letter  {
	@apply text-9xl text-white float-left bg-ll-gold px-5 pt-3 pb-0 mr-4  ; 
	@apply font-gotic;
}



 
/* Color devider breadcrumbs */ 
.nextra-breadcrumb svg path {
	stroke: red;
} 
 
 
.center-text-1  {
	@apply text-center m-auto;
}

.center-text-1 h4 {
	display: inline-block;
} 

/* navigation menu lis */
.nextra-menu-desktop li > a {
	margin-left:  1rem;;
}

.nextra-menu-desktop .active a {
	background: #f8f6ee;
}

.nextra-menu-desktop li > a[href$="/"] {
    margin-left:  0.5rem;
}

.nextra-menu-desktop li > a[href$="introduksjon"] {
    margin-left:  0.5rem;
    color:  #333;;
    font-weight: bold;
}

.p-disabled  > a  {
	 color:  #222;
}



/* Bottom navigation */

.nx-mb-8.nx-items-center a[href$="introduksjon"] > svg > path{
    transform: rotate(90deg);
    transform-box: fill-box;
    transform-origin: center;
}


 
/* Code block design */
code.nx-border-black {
  font-family: Consolas,"courier new";
  padding: 2px;
  font-size: 105%;
}

/* Første linje: kun for å teste at css filen lastes */
h1.nx-mt-2.nx-text-slate-900 {
	 @apply text-red-700; 
	 @apply font-medium leading-tight mb-2 mt-6;

}

.smallcard h1.nx-mt-2.nx-text-slate-900 {
	 /* color: #d34c4c; */
	 @apply text-3xl text-rose-800 dark:text-gray-300 ;
}

.smallcard p {
	@apply my-1 text-base text-gray-800;
}

/* 'map' css classer til standard markdown varianter */



blockquote p {
	/* 'drop italic på sitater */
	font-style: normal; 
		
}

/* 'map' css sitat / author / copyright / kilde */
cite {
	@apply ps-3 text-sm text-gray-500 dark:text-gray-400;
	font-style: normal;
}

blockquote cite {
	@apply ps-3 text-sm text-gray-500 dark:text-gray-400;
	@apply font-sans;
	font-weight: 300;
}
 


